.products {
    color: rgb(15, 117, 12);
    text-decoration: underline;
}

h1 {
    color: rgb(24, 155, 20);
}

div {
    background-color: rgb(201, 201, 201);
}

textarea {
    resize: none !important;
    display: block !important;
    margin: 15px auto !important;
}

.viewChat {
    background-color: white;
    width: 65% !important;
    height: 400px;
    margin: 5px auto !important;
    overflow-y: scroll;
    
}

.buttonSubmitChat {
    width: 15% !important;
    display: block !important;
    margin: 10px auto !important;
}

.userChatView {
    background-color: rgb(159, 170, 184);
    text-align: center;
    width: 15%;
    padding: 5px 0px;
    color: rgb(3, 0, 0);
}

h4 {
    background-color: rgba(3, 37, 15, 0.39);
    width: 50%;
    padding-bottom: 5px;
}

.msjChatView {
    background-color: rgb(255, 255, 255);
    width: 75%;
    padding: 10px 0px;

}