<div class="container">
    <h1 class="text-center">Productos</h1>
    <div class="row align-items-center">
        {{#each products}}
        <div class="text-center">
            <p class="products">
                {{this.title}}
            </p>
        </div>
        {{/each}}
    </div>
</div>